<h1>Need Music?</h1>
<p class="lead">Search Your artist</p>
<form>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Search Music..." (keyup)="searchMusic()" [(ngModel)]="searchStr">
    </div>
</form>
<div *ngIf="searchRes">
    <div *ngFor="let res of searchRes">
        <div class="row">
            <div class="col-md-12">
                <div class="search-res well">
                    <h4><a (click)="linkRoute(res.id)">{{res.name}}</a></h4>
                    <div>
                        <stron>Geners : </stron>
                        <span *ngFor="let genre of res.genres">
                            {{genre}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>